<h2 style="text-align:center">星巴克作業管理系統</h2>
<div style="text-align:center" >
 <img  src=" http://buy.goodlife.tw/system/files/9506/original/STARBUCKS形象-e1429780322536.jpg?1450926694 " height="180" width ="280" %>
 </div>
 <div ><h2 style="text-align:center">
<%= link_to "新增存貨", new_inventory_path %>
</h2></div>
<div ><h2 style="text-align:center">
<%= link_to "存貨管理系統", inventories_path %>
</h2></div>
<div ><h2 style="text-align:center">
<%= link_to "行銷資訊系統", marketings_path %>
</h2></div>

<div ><h2 style="text-align:center">
<%= link_to "顧客管理系統", customers_path %>
</h2></div>